################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wwwroot/vendors
/.vs/FMB
/.vs/config
/.vs/fmbnew/v15
/.vs
