@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">


    <div class="container-fluid">
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Dashboard</h4>

                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Free Medical Billing</a></li>
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item active">Claims Dashboard</li>
                    </ol>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Claims Dashboard</h4>
                    <p class="text-muted m-b-30 font-13">
                    </p>
                    <div class="form-inline m-b-20">
                        <div class="row">
                            <div class="col-md-6 text-xs-center">
                    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" id="datatable_length">
                                            <label class="control-label">
                                                Show top entries &nbsp;
                                            </label>
                                                <select name="datatable_length"
                                                        v-on:change="loadData(1)"
                                                        id="pageSize"
                                                        aria-controls="datatable"
                                                        class="form-control input-sm">
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="200">200</option>
                                                </select>
                                           

                                        </div>
                                    </div>



                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 text-center text-right">
                                        <table>
                                            <tr>
                                                <td><input type="text" name="search_criteria" id="search_criteria" placeholder="Search Claims" style="width:500px" class="form-control col-md-10" autocomplete="on"></td>
                                                <td>
                                                    <button type="button" v-on:click="loadData(1)" style="width:200px;" class="btn btn-primary">Search</button>
                                                    <!--TODO add vue js block ui on load-->
                                                </td>
                                            </tr>
                                        </table>
                                   
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <ul class="pagination" style="margin-left:10px;">
                                        <li class="page-item" v-for="p in pages">
                                            <a class="page-link" v-if="p!=pi" :data-dt-idx="p" v-on:click="loadData(p)" href="#">{{p}}</a>
                                            <a class="page-link" v-else :data-dt-idx="p" v-on:click="loadData(p)" href="#"><b>{{p}}</b></a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7">
                            <thead>
                                <tr>
                                    <!--TODO Sorting-->
                                    <th data-toggle="true">Claim number</th>
                                    <th width="15%">Patient</th>
                                    <th width="15%" data-hide="phone">Carrier</th>
                                    <th data-hide="phone, tablet">Date submitted</th>
                                    <th data-hide="phone, tablet">Status</th>
                                    <th data-hide="phone">Billed</th>
                                    <th data-hide="phone, tablet">Insurance</th>
                                    <th data-hide="phone, tablet">Adjustments</th>
                                    <th data-hide="phone">Patient</th>
                                    <th data-hide="phone, tablet">Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="item in rows" role="row" class="odd">
                              
                                    <td>
                                        {{item.claimnumber}}
                                    </td>
                                    <td>
                                        <a :href="GetHref(item.claimnumber)">   {{item.patientfullname}}</a>
                                    </td>
                          
                                    <td>
                                        {{item.carriername}}
                                    </td>
                                    <td>
                                        {{item.dateFormat}}
                                    </td>
                                    <td style="width:150px;">
                                        {{item.claimStatus}}
                                    </td>
                                    <td class="ctd" style="    text-align: right !important;">
                                        {{item.billed}}
                                    </td>
                                    <td class="ctd" style="    text-align: right !important;">
                                        {{item.insurance}}
                                    </td>
                                    <td class="ctd" style="    text-align: right !important;">
                                        {{item.adjustments}}
                                    </td>
                                    <td class="ctd" style="    text-align: right !important;">
                                        {{item.patientPay}}
                                    </td>
                                    <td class="ctd" style="    text-align: right !important;">
                                        {{item.balance}}
                                    </td>
                                    <td style="    text-align: right !important;">
                                        <select class="form-control">
                                            <option>Choose action</option>
                                            <option>Print</option>
                                            <option>Refill</option>
                                            <option>Statement</option>
                                        </select>
                                    </td>
                                </tr>


                            </tbody>
                            <tfoot>
                                <tr class="active">
                                    <td colspan="11">
                                        <div class="row">
                                            <ul class="pagination" style="margin-left:10px;">
                                                <li class="page-item" v-for="p in pages">
                                                    <a class="page-link" v-if="p!=pi" :data-dt-idx="p" v-on:click="loadData(p)" href="#">{{p}}</a>
                                                    <a class="page-link" v-else :data-dt-idx="p" v-on:click="loadData(p)" href="#"><b>{{p}}</b></a>
                                                </li>
                                            </ul>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>


    </div>


</div>
<script src="~/js/jquery.min.js"></script>

<script type="text/javascript">
    var $ = window.jQuery;
    var app = new Vue({
        el: '#app',
        data: {
            rows: [],
            pi: 0,
            pages: [],

        },
        mounted() {
            this.loadData();
        },
        methods: {
            GetHref(href) {
                return "Patient/" + href;
            },
            edit(item) {
                window.location = 'Patient/' + item.claimnumber;
            },
            loadData(pageIndex = 1) {
                let that = this;
                var ps = $("#pageSize").val();
                var search = $("#search_criteria").val();
                var vic = 0;
                this.pi = pageIndex;
                that.rows = new Array();
                $.ajax({
                    type: "POST",
                    url: "Dashboard",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "SearchCriteria": search, "PageIndex": pageIndex - 1, "PageSize": ps }),
                    success: function (data) {
                        $(data).each(function (index, d) {
                            if (index == 0) {
                                vic = d.virtualItemCount;
                            }
                            if (d) {
                                that.rows.push(d);
                            }
                        });
                        that.pages = new Array();
                        for (var i = 0; i <= vic / ps; i++) {
                            that.pages.push(i + 1);
                        }
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
        }
    })
</script>
<style>
    body {
        font-size: 8pt;
    }

    .ctd {
        text-align: right !important;
    }
</style>